{% extends "main.html" %}<!>
{% load method_override %} {% block content %}
<section
  class="max-w-screen-lg mx-auto flex flex-col w-full flex-1 py-20 h-full"
>
  <div class="flex flex-col flex-1 border rounded-lg p-4 sm:p-8">
    <h1 class="text-xl sm:text-3xl font-bold">Update {{task}}.</h1>

    <div class="flex flex-col gap-2 rounded-lg sm:w-[475px] w-full">
      <form id="form" method="POST" action="" class="flex flex-col gap-6 my-4">
        {% csrf_token %}
        <div class="form-control">
          {{ form.name.label_tag }}<!>
          {{ form.name }}<!>
          {{ form.name.errors }}
        </div>
        <div class="form-control">
          {{ form.description.label_tag }}<!>
          {{ form.description }}<!>
          {{ form.description.errors }}
        </div>
        <button
          type="submit"
          class="group disabled:cursor-not-allowed relative flex items-center justify-center gap-4 py-2 h-[45px] px-5 text-sm text-color-foreground bg-accent rounded-md hover:bg-accent/80 font-bold transition"
        >
          <span
            class="absolute animate-spin left-3 hidden group-disabled:flex w-[20px] aspect-square border-[3px] border-r-transparent rounded-full"
          ></span>
          Update Task
        </button>
      </form>
    </div>
  </div>
</section>
{% endblock content %}
